@font-face {
    font-weight: 700;
    font-family: "Ubuntu";
    font-style: normal;
    src: url("../fonts/Ubuntu-Bold.woff") format("woff");
    font-display: swap;
  }

@font-face {
    font-weight: 400;
    font-family: "Ubuntu";
    font-style: normal;
    src: url("../fonts/Ubuntu-Regular.woff") format("woff");
    font-display: swap;
	}
	
@font-face {
    font-weight: 300;
    font-family: "Raleway";
    font-style: normal;
    src: url("../fonts/Ubuntu-Light.woff") format("woff");
    font-display: swap;
  }

::placeholder {
  color: #666;
  opacity: 1;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 20px;
	font-size: 16px;
	font-weight: 300;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text-color;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	color: rgba(0,0,0,.25);
  border-color: rgba(0,0,0,.25);
  
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header, section {
  position: relative;
  background-size: cover;
  background-position: center;
}

* {
  box-sizing: border-box;
}

