$default-font: "Ubuntu", sans-serif;
$accent: #3da9a3;
$opposite: #e46e4d;
$text-color: #323232;
$text-light: #969696;
$bgr-color: #ffffff;
$bgr-dark: #eaeaea;




// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

$gutter: $grid-gutter-width;
