.search {
  position: relative;
}
.search__title {
  @include title;
}

.search__input {
  border: 1px solid #000000;
  border-radius: 3px;
  height: 50px;
  position: relative;
  width: 100%;
  outline: none;
  padding: 17px 16px;

}

.search__input::placeholder {
  display: block;
  color: $text-light;
  padding-top: 20px;
}

.search__button {
  position: relative;
  content: "";
  width: 50px;
  height: 50px;
  background-color: $opposite;
  bottom: 50px;
  left: 0;
  display: block;
  z-index: 10;
  border-radius: 3px;
  background-image: url('../img/search.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 29px 29px;
  margin-left: auto;
  transition: color, 0.25s ease;
}

.search__button:hover {
  background-color: darken($color: $opposite, $amount: 10)
}

.tags__title {
  @include title;
}

.tags__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}
.tags__item {
  width: auto;
  padding: 6px 8px;
  background-color: $bgr-dark;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 12px;
}

.pop-article__title {
  @include title;
}

.pop-article__item-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  margin: 0;
  padding: 0;
}

.pop-article__item-data {
  font-size: 12px;
  font-weight: 400;
  color: $text-light;
}

.pop-article__item-img {
  margin-bottom: 10px;
}

.pagination__list {
  display: flex;
  margin-bottom: 80px;
}

.pagination__item {
  position: relative;
}

.pagination__link {
  display: inline-block;
  font-size: 22px;
  line-height: 24px;
  font-weight: 400;
  padding: 6px 12px;
  color: $opposite;
  border-radius: 3px;
  transition: all 0.25s ease;
}

.pagination__link:hover,
.pagination__link:active {
  background-color: $opposite;
  color: $bgr-color;
  text-decoration: none;
}

.pagination__icon {
  fill: $opposite;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.pagination__item--next {
  
  position: relative;
}

.pagination__item--next::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 15px;
  background-image: url("../img/symbol.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px 15px;
  z-index: 10;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.pagination__link--next {
  color: transparent;
}

.pagination__link--next:hover,
.pagination__link--next:active {
  color: transparent;
  background-color: $bgr-color;
}

.pagination__item--next:hover::after {
  opacity: 0.7;
}